/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: 2s ease;
  max-width: 100%;
}
.slide {
  display: inline-block;
  height: 120px;
  width: 100%;
  border-radius: 40px;
}
