.css-b927kw-MuiButtonBase-root-MuiButton-root:hover{  
   font-weight: bold;   
    background-color: rgb(59 126 248) !important; 
}



.css-26wl58-MuiButtonBase-root-MuiButton-root:hover {
    BACKGROUND:#3A7EF8 !important;
}